.background{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(#a8c8ee,#b5d4ef,#e6e2de,#49689e,#506563,#707136,#707136);
    background-image: url("../images/aleksandar-ristov-LAy1DOJbPlw-unsplash.jpg");
    background-size: cover;
}
.background_night{
    background-image: linear-gradient(#020b10,#222c35,#424852,#6e8ba7,#534512,#2e2721,#1e1108);
    background-image: url("../images/stefan-widua-iPOZf3tQfHA-unsplash.jpg");
}



.cloudVis{
    position: fixed;
    top: -50vh;
    height: 100%;
    width: 100%;
    /*background-color: rgba(255,255,255,0.8);*/
    background-image: url("../images/clouds_back.png");
    background-size: 75%;
    background-position-y: 100%;
    background-repeat: repeat-x;
    animation: cloudAnim 300s linear infinite;
    transition: opacity 1s;
}
@keyframes cloudAnim {
    from {background-position-x: 0;}
    to {background-position-x: 300%;}
}

.cloudVis_night{
    filter:invert(0.3) brightness(0.5) contrast(1.5);
}

.cloudVis::before{
    content: '';
    position: absolute;
    background-image: url("../images/clouds_middle.png");
    top: 60vh;
    background-size: 75%;
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    animation: cloudAnim 180s linear infinite;
}

.cloudVis::after{
    content: '';
    position: absolute;
    background-image: url("../images/clouds_front.png");
    top: 35vh;
    background-size: 75%;
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    animation: cloudAnim 90s linear infinite;
}

.snowVis{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/snow.png");
    background-size: 12.5%;
    animation: rainAnim 8s linear infinite;
}
.snowVis::after{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/snow.png");
    background-size: 6.25%;
    background-position-x: 25%;
    animation: rainAnim 12s linear infinite;
    opacity: 0.65;
}
.snowVis::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/snow.png");
    background-size: 3.125%;
    background-position-x: 50%;
    animation: rainAnim 26s linear infinite;
    opacity: 0.4;
}

.rainVis{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/rain.png");
    background-size: 12.5%;
    animation: rainAnim 0.5s linear infinite;
    opacity: 0;
}
.rainVis_night{
    filter: saturate(0.25);
}
@keyframes rainAnim {
    from {background-position-y: 0;}
    to {background-position-y: 100%;}
}
.rainVis::after{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/rain.png");
    background-size: 6.25%;
    background-position-x: 25%;
    animation: rainAnim 1s linear infinite;
}
.rainVis::before{
    content: '';
    position: fixed;
    left: 0;
    top: 100;
    width: 100%;
    height: 100;
    background-image: url("../images/rain.png");
    background-size: 3.125%;
    background-position-x: 50%;
    animation: rainAnim 1s linear infinite;
}

.mist{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(white, transparent);
    background-position-y: 50%;
    transition: 1s;
}

@media screen and (max-width: 896px) {
    .background{
        background-image: linear-gradient(#a8c8ee,#b5d4ef,#e6e2de,#49689e,#506563,#707136,#707136);
    }
    .background_night{
        background-image: linear-gradient(#020b10,#222c35,#424852,#6e8ba7,#534512,#2e2721,#1e1108);
    }
    .cloudVis{
        position: relative;
        background-size: 300%;
        height: 100%;
        top: -40vh;
        animation-name: cloudsMobile;
        animation-duration: 120s;
    }
    .cloudVis::before{
        background-size: 300%;
        height: 100%;
        top: 55vh;
        animation-name: cloudsMobile;
    }
    .cloudVis::after{
        background-size: 300%;
        height: 100%;
        top: 40vh;
        animation-name: cloudsMobile;
    }
    @keyframes cloudsMobile {
        from{background-position-x: 0;}
        to{background-position-x: 150%;}
    }
    .rainVis{
        top: 0;
        background-size: 25%;
        animation-duration: 1.75s;
    }
    .snowVis{
        background-size: 50%;
        top: 0;
    }
    .snowVis::after{
        background-size: 25%;
    }
    .snowVis::before{
        background-size: 12.25%;
    }
    .rainVis::before,
    .rainVis::after{
        display: none;
    }
}